<% provide(:title, 'Создание новости') %>
<h1>Создание новости</h1>
<div class="row">
  <div class="span8 offset2 applic-form">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        После сохранения новости, производится её автоматическая рассылка, всем зарегистрированным пользователям. Проверьте корректность заполнения данных!
    </div>
</div>
</div>
<%= render 'form' %>
