<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Сброс пароля</h1>
    <p><%= @user.name %>, чтобы сбросить пароль перейдите по ссылке.</p>
    <p><%= link_to @url, @url %>.</p>
    <p>Если вы не запрашивали сброс пароля, просто проигнорируйте письмо, и ваш пароль останется прежним.</p>
    <p><%= image_tag attachments['logo.jpg'].url %></p>
  </body>
</html>